<%- include('update_header')%>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Customer Inquiry</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Customer Inquiry</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">New Inquiry<small></small></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form id="quickForm" action="/users/update_customer_inquiry/<%= customer[0].customer_id%>" method="POST">
                <div class="card-body">
                  <div class="form-group">
                    <label>Customer Name</label>
                    <input type="text" name="customer" class="form-control" placeholder="Enter Customer name ..."
                      value='<%=customer[0].customer_name%>' required>
                  </div>
                  <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" name="company" class="form-control" placeholder="Enter company name ..."
                      value='<%=customer[0].company_name%>' required>
                  </div>
                  <div class="form-group">
                    <label>GST Number</label>
                    <input type="text" name="GST_number" class="form-control" placeholder="Enter GST Number ..."
                      value='<%=customer[0].GST_number%>' required>
                  </div>
                  <div class="form-group">
                    <label>Contact Number</label>
                    <input type="text" name="contact_number" class="form-control" placeholder="enter contact number ..."
                      value='<%=customer[0].contact_number%>' required>
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="email_id" class="form-control" placeholder="enter email id ..."
                      value='<%=customer[0].email_id%>' required>
                  </div>
                  <div class="form-group">
                    <label>Address</label>
                    <input type="text" name="address" class="form-control" placeholder="enter address ..."
                      value='<%=customer[0].company_address%>' required>
                  </div>
                  <div class="form-group">
                    <label>City</label>
                    <input type="text" name="city" class="form-control" placeholder="enter city ..."
                      value='<%=customer[0].city%>' required>
                  </div>
                  <div class="form-group">
                    <label>State</label>
                    <input type="text" name="state" class="form-control" placeholder="enter state ..."
                      value='<%=customer[0].state%>' required>
                  </div>
                  <div class="form-group">
                    <label>Zip Code</label>
                    <input type="text" name="zip_code" class="form-control" placeholder="enter zip code ..."
                      value='<%=customer[0].zip_code%>' required>
                  </div>
                  <div class="form-group mb-0">
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary" onclick="myFunction()">Update</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%- include('update_footer')%>