<%- include('header')%>


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Employees</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Employee</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->


                <!-- /.row -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Employees</h3>

                                <!-- <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control float-right"
                                            placeholder="Search">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0" style="height: 300px;">
                                <table class="table table-head-fixed text-nowrap" id="table">
                                    <thead>
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Uid</th>
                                            <th>Employee Name</th>
                                            <th>Mobile Number</th>
                                            <th>Alternate mb No</th>
                                            <th>Email Id</th>
                                            <th>Date Of Birth</th>
                                            <th>Address</th>
                                            <th>Password</th>
                                            <th>More</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <% for(var srno = 1 , i=0 ; i < result.length; i++ , srno++){%>
                                            <tr>
                                                <td>
                                                    <%= srno%>
                                                </td>
                                                <td>
                                                    <%= result[i].Uid %>
                                                </td>
                                                <td>
                                                    <%= result[i].Name %>
                                                </td>
                                                <td>
                                                    <%= result[i].mobile_number%>
                                                </td>
                                                <td>
                                                    <%= result[i].alternate_mobile_number%>
                                                </td>
                                                <td>
                                                    <%= result[i].Email %>
                                                </td>
                                                <td>
                                                    <%= result[i].DOB %>
                                                </td>
                                                <td>
                                                    <%= result[i].Address %>
                                                </td>
                                                <td>
                                                    <%= result[i].Password %>
                                                </td>

                                                <td>
                                                    <!-- <a class="add" title="Add" data-toggle="tooltip"><i
                                                            class="material-icons">&#xE03B;</i></a> -->
                                                    <a href="/users/edit_employee/<%= result[i].Uid %>" class="edit" title="Edit" data-toggle="tooltip"><i
                                                            class="material-icons">&#xE254;</i></a>
                                                    <a class="delete" title="Delete" onclick="return confirm('Are You sure?')" data-toggle="tooltip"
                                                        href="../users/employee_delete/<%= result[i].Uid%>"><i
                                                            class="material-icons">&#xE872;</i></a>
                                                </td>
                                            </tr>
                                            <%}%>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
                <div class="col-sm-3">
                    <a href="/users/add_employee">
                        <button type="button" class="btn btn-block btn-outline-primary">Add Employee</button>
                    </a>

                </div>

                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <%- include('footer')%>