<%- include('header')%>


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Products Details</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Products Details</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->


                <!-- /.row -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Your Products Details</h3>

                                <!-- <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control float-right"
                                            placeholder="Search">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0" style="height: 300px;">
                                <table class="table table-head-fixed text-nowrap" id="table">
                                    <thead>
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Product Details Id</th>
                                            <th>Category</th>
                                            <th>Product</th>
                                            <th>Sub Category</th>
                                            <th>Additional Category</th>
                                            <th>Specification</th>
                                            <th>Size</th>
                                            <th>Unit</th>
                                            <th>Rate</th>
                                            <th>Quantity</th>
                                            <th>Amount</th>                                        
                                            <th>More</th>
                                                
                                        </tr>
                                    </thead>

                                    <tbody>
                                       
                                        <% for(var srno = 1 , i=0 ; i < result.length; i++ , srno++){%>
                                            <tr>
                                                <td>
                                                    <%= srno%>
                                                </td>
                                                <td>
                                                    <%= result[i].product_details_id %>
                                                </td>
                                                <td>
                                                    <%= result[i].Name %>
                                                </td>
                                                <td>
                                                    <%= result[i].product_name %>
                                                </td>
                                                <td>
                                                    <%= result[i].sub_category %>
                                                </td>
                                                <td>
                                                    <%= result[i].additional_category %>
                                                </td>
                                                <td>
                                                    <%= result[i].specification %>
                                                </td>
                                                <td>
                                                    <%= result[i].size %>
                                                </td>
                                                <td>
                                                    <%= result[i].unit %>
                                                </td>
                                                <td>
                                                    <%= result[i].rate %>
                                                </td>
                                                <td>
                                                    <%= result[i].quantity %>
                                                </td>
                                                <td>
                                                    <%= result[i].amount %>
                                                </td>
                             
                                                <td>

                                                    <!-- <a class="add" title="Add" data-toggle="tooltip"
                                                        href="#"><i
                                                            class="material-icons">&#xE03B;</i></a> -->
                                                    <a href="/users/edit_product_details/<%= result[i].product_details_id%>" class="edit" title="Edit" data-toggle="tooltip"><i
                                                            class="material-icons">&#xE254;</i></a>
                                                    <a class="delete" title="Delete"
                                                        onclick="return confirm('Are You sure?')" data-toggle="tooltip"
                                                        href="../users/product_details_delete/<%= result[i].product_details_id%>"><i
                                                            class="material-icons">&#xE872;</i></a>
                                                </td>

                                            </tr>
                                            <%}%>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
                <div class="col-sm-3">
                    <a href="/users/add_product_details">
                        <button type="button" class="btn btn-block btn-outline-primary">Add Products</button>
                    </a>
                    <!-- <a href="./smswebapp_creategroup.html">
                        <button type="button" class="btn btn-block btn-outline-success">Create Group</button>
                    </a> -->
                </div>

                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

     <%- include('footer')%>