<%- include('header')%>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Quotation</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Quotation</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->


            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Laxmi Graphics Quotation</h3>

                            <!-- <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div> -->
                        </div>
                        <!-- <div class="card-body table-responsive p-0" style="height: 300px;"> -->
                        <form action="/users/insert_quotation" method="POST">
                            <table class="table table-head-fixed text-nowrap" id="table">
                                <div style="padding: 5px;">
                                    <!-- <input type="button" value="Remove review"
                                    onclick="this.parentNode.parentNode.removeChild(this.parentNode);" /> -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <!-- <div class="form-group"> -->
                                            <!-- <label>Customer Name</label>
                                            <select name='selected_customer' class="form-control" id="customer">
                                                <% for(var i=0 ; i < result.length ; i++){%>
                                                    <option value="<%=result[i].Customer_name%>">
                                                        <%= result[i].Customer_name%>
                                                    </option>
                                                    <%}%>
                                            </select> -->

                                            <label for="clientid" class="control-label"> <small class="req text-danger">
                                                </small>Customer</label>
                                            <div class="dropdown bootstrap-select ajax-search bs3" style="width: 100%;">
                                                <div class="dropdown bootstrap-select ajax-search bs3"
                                                    style="width: 100%;">
                                                    <select id="customer" class="form-control">
                                                        <% for(var i=0 ; i < result.length ; i++){%>
                                                            <option value="<%=result[i].Customer_name%>">
                                                                <%= result[i].Customer_name%>
                                                            </option>
                                                            <%}%>
                                                    </select>
                                                    <!-- <button type="button" class="form-control"
                                            class="btn dropdown-toggle bs-placeholder btn-default"
                                            data-toggle="dropdown" role="combobox" aria-owns="bs-select-12"
                                            aria-haspopup="listbox" aria-expanded="false" data-id="clientid"
                                            title="Nothing selected">
                                            <div class="filter-option">
                                                <div class="filter-option-inner">
                                                    <div class="filter-option-inner-inner">Nothing selected</div>
                                                </div>
                                            </div><span class="bs-caret"><span class="caret"></span></span>
                                        </button> -->
                                                    <!-- <div class="dropdown-menu open"
                                            style="min-height: 55px; max-height: 499px; overflow: hidden;">
                                            <div class="bs-searchbox"><input type="search" class="form-control"
                                                    autocomplete="off" role="combobox" aria-label="Search"
                                                    aria-controls="bs-select-12" aria-autocomplete="list"
                                                    aria-activedescendant="bs-select-12-1"
                                                    placeholder="Type to search..."></div>
                                            <div class="inner open" role="listbox" id="bs-select-12" tabindex="-1"
                                                style="min-height: 0px; max-height: 443px; overflow-y: auto;">
                                                <ul class="dropdown-menu inner " role="presentation"
                                                    style="margin-top: 0px; margin-bottom: 0px;">
                                                    <li class="dropdown-header optgroup-1"><span class="text">Currently
                                                            Selected</span></li>
                                                    <li class="optgroup-1 selected active"><a role="option"
                                                            class="opt bs-title-option active selected"
                                                            id="bs-select-12-1" tabindex="0" aria-setsize="1"
                                                            aria-posinset="1" aria-selected="true"><span
                                                                class="text"></span></a></li>
                                                </ul>
                                            </div>
                                            <div class="status" style="">Start typing to search</div>
                                        </div> -->
                                                    <!-- </div><button type="button" class="form-control"
                                        class="btn dropdown-toggle bs-placeholder btn-default" data-toggle="dropdown"
                                        role="combobox" aria-owns="bs-select-12" aria-haspopup="listbox"
                                        aria-expanded="false" data-id="clientid" title="Select and begin typing">
                                        <div class="filter-option">
                                            <div class="filter-option-inner">
                                                <div class="filter-option-inner-inner">Select and begin typing</div>
                                            </div>
                                        </div><span class="bs-caret"><span class="caret"></span></span>
                                    </button> -->
                                                    <!-- <div class="dropdown-menu open"
                                                        style="min-height: 55px; max-height: 794px; overflow: hidden;">
                                                        <div class="bs-searchbox"><input type="search"
                                                                class="form-control" autocomplete="off" role="combobox"
                                                                aria-label="Search" aria-controls="bs-select-12"
                                                                aria-autocomplete="list"
                                                                placeholder="Type to search..."></div>
                                                        <div class="inner open" role="listbox" id="bs-select-12"
                                                            tabindex="-1"
                                                            style="min-height: 0px; max-height: 738px; overflow-y: auto;">
                                                            <ul class="dropdown-menu inner " role="presentation"
                                                                style="margin-top: 0px; margin-bottom: 0px;">
                                                                <li class="divider optgroup-1div"></li>
                                                                <li class="dropdown-header optgroup-1"><span
                                                                        class="text">Currently
                                                                        Selected</span></li>
                                                                <li class="optgroup-1"><a role="option"
                                                                        class="opt bs-title-option" id="bs-select-12-2"
                                                                        tabindex="0"><span class="text"></span></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="status" style="">Start typing to search</div>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p class="bold">Bill To</p>
                                                    <div type="text" name="baddress" contenteditable="true" id="address" 
                                                        class="form-control"> </div>
                                                    <!-- <di
                                                        <input type="text"  name="baddress" id="address">
                                                    </div> -->
                                                    <br>
                                                    <div contenteditable="true" id="city" name="bcity"
                                                        class="form-control">
                                                    </div><br>
                                                    <div contenteditable="true" id="state" name="bstate"
                                                        class="form-control"> </div><br>
                                                    <div contenteditable="true" id="zip_code" name="bzipcode"
                                                        class="form-control"> </div>

                                                    <!-- <address>
                                                    <span class="form-control" class="billing_street"></span><br>
                                                    <span class="form-control" class="billing_city"></span><br>
                                                    <span class="form-control" class="billing_state"></span>
                                                    <br>
                                                    <span class="billing_country"></span>
                                                    <span class="billing_zip"></span>
                                                </address> -->
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="bold">Ship to</p>
                                                    <div contenteditable="true" id="saddress" name="saddress"
                                                        class="form-control"> </div>
                                                    <br>
                                                    <div contenteditable="true" id="scity" name="scity"
                                                        class="form-control"> </div><br>
                                                    <div contenteditable="true" id="sstate" name="sstate"
                                                        class="form-control"> </div><br>
                                                    <div contenteditable="true" id="szip_code" name="szip_code"
                                                        class="form-control"> </div>
                                                    <!-- <address>
                                                    <span class="form-control" class="shipping_street"></span><br>
                                                    <span class="form-control" class="shipping_city"></span><br>
                                                    <span class="form-control" class="shipping_state"></span>
                                                    <br>
                                                    <span class="shipping_country"></span>
                                                    <span class="shipping_zip"></span>
                                                </address> -->
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label for="number"> <small class="req text-danger"> </small>Estimate
                                                    Number</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon , form-control">
                                                        EST- </span>
                                                    <input type="text" name="number" class="form-control pending"
                                                        value="<%= estimate_no + 1%>" data-isedit="false"
                                                        data-original-number="false" aria-invalid="false">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group" app-field-wrapper="date"><label for="date"
                                                            class="control-label"> <small class="req text-danger">
                                                            </small>Estimate
                                                            Date</label>
                                                        <div class="input-group date"><input type="date" id="date"
                                                                name="date" class="form-control datepicker"
                                                                autocomplete="off">
                                                            <div class="input-group-addon">
                                                                <!-- <i class="fa fa-calendar calendar-icon"></i> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group" app-field-wrapper="expirydate"><label
                                                            for="expirydate" class="control-label">Expiry Date</label>
                                                        <div class="input-group date"><input type="date" id="expirydate"
                                                                name="expirydate" class="form-control datepicker"
                                                                autocomplete="off">
                                                            <div class="input-group-addon">
                                                                <!-- <i class="fa fa-calendar calendar-icon"></i> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Company</label>
                                            <select id="company" name='Company' class="form-control">
                                            </select>
                                            <br>
                                            <!-- <div class="form-group" app-field-wrapper="currency"><label for="currency"
                                                    class="control-label">
                                                    <small class="req text-danger"></small></label>
                                            </div> -->
                                            <div>
                                                <label>Rate</label>
                                                <input type="text" name="price" class="form-control">
                                                <!-- <div class="dropdown bootstrap-select disabled bs3" style="width: 100%;">
                                            <div class="dropdown bootstrap-select disabled bs3" style="width: 100%;">
                                                <select id="currency" name="currency" class="selectpicker" disabled="1"
                                                    data-show-subtext="1" data-base="1" data-width="100%"
                                                    data-none-selected-text="Nothing selected" data-live-search="true"
                                                    tabindex="-98">
                                                    <option value=""></option>
                                                    <option value="1" selected="" data-subtext="$">USD</option>
                                                    <option value="2" data-subtext="€">EUR</option>
                                                    <option value="3" data-subtext="₹">INR</option>
                                                </select><button type="button"
                                                    class="btn dropdown-toggle disabled btn-default"
                                                    data-toggle="dropdown" role="combobox" aria-owns="bs-select-3"
                                                    aria-haspopup="listbox" aria-expanded="false" data-id="currency"
                                                    tabindex="-1" aria-disabled="true" title="USD $">
                                                    <div class="filter-option">
                                                        <div class="filter-option-inner">
                                                            <div class="filter-option-inner-inner">USD<small
                                                                    class="text-muted">
                                                                    $</small></div>
                                                        </div>
                                                    </div><span class="bs-caret"><span class="caret"></span></span>
                                                </button>
                                                <div class="dropdown-menu open">
                                                    <div class="bs-searchbox"><input type="search" class="form-control"
                                                            autocomplete="off" role="combobox" aria-label="Search"
                                                            aria-controls="bs-select-3" aria-autocomplete="list"></div>
                                                    <div class="inner open" role="listbox" id="bs-select-3"
                                                        tabindex="-1">
                                                        <ul class="dropdown-menu inner " role="presentation"></ul>
                                                    </div>
                                                </div>
                                            </div><button type="button" class="btn dropdown-toggle disabled btn-default"
                                                data-toggle="dropdown" role="combobox" aria-owns="bs-select-3"
                                                aria-haspopup="listbox" aria-expanded="false" data-id="currency"
                                                tabindex="-1" aria-disabled="true" title="USD $">
                                                <div class="filter-option">
                                                    <div class="filter-option-inner">
                                                        <div class="filter-option-inner-inner">USD<small
                                                                class="text-muted">
                                                                $</small>
                                                        </div>
                                                    </div>
                                                </div><span class="bs-caret"><span class="caret"></span></span>
                                            </button>
                                            <div class="dropdown-menu open">
                                                <div class="bs-searchbox"><input type="search" class="form-control"
                                                        autocomplete="off" role="combobox" aria-label="Search"
                                                        aria-controls="bs-select-3" aria-autocomplete="list"></div>
                                                <div class="inner open" role="listbox" id="bs-select-3" tabindex="-1">
                                                    <ul class="dropdown-menu inner " role="presentation"></ul>
                                                </div>
                                            </div>
                                        </div> -->
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label class="control-label">Status</label>
                                                <div class="dropdown bootstrap-select display-block mbot15 bs3"
                                                    style="width: 100%;">
                                                    <div class="dropdown bootstrap-select display-block mbot15 bs3"
                                                        style="width: 100%;"><select class="form-control"
                                                            class="selectpicker display-block mbot15" name="status"
                                                            data-width="100%" data-none-selected-text="Nothing selected"
                                                            tabindex="-98">
                                                            <option value="Draft">Draft</option>
                                                            <option value="Sent">Sent</option>
                                                            <option value="Expired">Expired</option>
                                                            <option value="Declined">Declined</option>
                                                            <option value="Accepted">Accepted</option>
                                                        </select>
                                                        <!-- <button type="button" class="btn dropdown-toggle btn-default"
                                                    data-toggle="dropdown" role="combobox" aria-owns="bs-select-4"
                                                    aria-haspopup="listbox" aria-expanded="false" title="Draft">
                                                    <div class="filter-option">
                                                        <div class="filter-option-inner">
                                                            <div class="filter-option-inner-inner">Draft</div>
                                                        </div>
                                                    </div><span class="bs-caret"><span class="caret"></span></span>
                                                </button> -->
                                                        <!-- <div class="dropdown-menu open"
                                                    style="max-height: 396.875px; overflow: hidden; min-height: 97px;">
                                                    <div class="inner open" role="listbox" id="bs-select-4"
                                                        tabindex="-1" aria-activedescendant="bs-select-4-0"
                                                        style="max-height: 395.875px; overflow-y: auto; min-height: 96px;">
                                                        <ul class="dropdown-menu inner " role="presentation"
                                                            style="margin-top: 0px; margin-bottom: 0px;">
                                                            <li class="selected active"><a role="option"
                                                                    id="bs-select-4-0" tabindex="0" aria-setsize="5"
                                                                    aria-posinset="1" class="active selected"
                                                                    aria-selected="true"><span
                                                                        class="text">Draft</span></a></li>
                                                            <li><a role="option" id="bs-select-4-1" tabindex="0"
                                                                    aria-setsize="5" aria-posinset="2"><span
                                                                        class="text">Sent</span></a></li>
                                                            <li><a role="option" id="bs-select-4-2" tabindex="0"
                                                                    aria-setsize="5" aria-posinset="3"><span
                                                                        class="text">Expired</span></a></li>
                                                            <li><a role="option" id="bs-select-4-3" tabindex="0"
                                                                    aria-setsize="5" aria-posinset="4"><span
                                                                        class="text">Declined</span></a></li>
                                                            <li><a role="option" id="bs-select-4-4" tabindex="0"><span
                                                                        class="text">Accepted</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div> -->
                                                        <!-- </div><button type="button" class="btn dropdown-toggle btn-default"
                                                data-toggle="dropdown" role="combobox" aria-owns="bs-select-4"
                                                aria-haspopup="listbox" aria-expanded="false" title="Draft">
                                                <div class="filter-option">
                                                    <div class="filter-option-inner">
                                                        <div class="filter-option-inner-inner">Draft</div>
                                                    </div>
                                                </div><span class="bs-caret"><span class="caret"></span></span>
                                            </button> -->
                                                        <div class="dropdown-menu open">
                                                            <div class="inner open" role="listbox" id="bs-select-4"
                                                                tabindex="-1">
                                                                <ul class="dropdown-menu inner " role="presentation">
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-group" app-field-wrapper="sale_agent"><label
                                                        for="sale_agent" class="control-label">Sale Agent</label>
                                                    <div class="dropdown bootstrap-select bs3" style="width: 100%;">
                                                        <div class="dropdown bootstrap-select bs3" style="width: 100%;">
                                                            <input name="saleagent" class="form-control" type="text">
                                                            <!-- <select class="form-control" id="sale_agent" name="sale_agent"
                                                            class="selectpicker" data-width="100%"
                                                            data-none-selected-text="Nothing selected"
                                                            data-live-search="true" tabindex="-98">
                                                            <option value=""></option>
                                                            <option value="1">agent 1</option>
                                                        </select> -->
                                                            <!-- <button type="button"
                                                        class="btn dropdown-toggle btn-default bs-placeholder"
                                                        data-toggle="dropdown" role="combobox" aria-owns="bs-select-5"
                                                        aria-haspopup="listbox" aria-expanded="false"
                                                        data-id="sale_agent" title="Nothing selected">
                                                        <div class="filter-option">
                                                            <div class="filter-option-inner">
                                                                <div class="filter-option-inner-inner">Nothing selected
                                                                </div>
                                                            </div>
                                                        </div><span class="bs-caret"><span class="caret"></span></span>
                                                    </button> -->
                                                            <!-- <div class="dropdown-menu open"
                                                        style="max-height: 193.875px; overflow: hidden; min-height: 55px;">
                                                        <div class="bs-searchbox"><input type="search"
                                                                class="form-control" autocomplete="off" role="combobox"
                                                                aria-label="Search" aria-controls="bs-select-5"
                                                                aria-autocomplete="list"
                                                                aria-activedescendant="bs-select-5-0"></div>
                                                        <div class="inner open" role="listbox" id="bs-select-5"
                                                            tabindex="-1"
                                                            style="max-height: 137.875px; overflow-y: auto; min-height: 0px;">
                                                            <ul class="dropdown-menu inner " role="presentation"
                                                                style="margin-top: 0px; margin-bottom: 0px;">
                                                                <li class="selected active"><a role="option"
                                                                        id="bs-select-5-0" tabindex="0" aria-setsize="2"
                                                                        aria-posinset="1" class="active selected"
                                                                        aria-selected="true"><span
                                                                            class="text"></span></a></li>
                                                                <li><a role="option" id="bs-select-5-1" tabindex="0"
                                                                        aria-setsize="2" aria-posinset="2"><span
                                                                            class="text">Juber Shaikh</span></a></li>
                                                            </ul>
                                                        </div>
                                                    </div> -->
                                                            <!-- </div><button type="button"
                                                    class="btn dropdown-toggle btn-default bs-placeholder"
                                                    data-toggle="dropdown" role="combobox" aria-owns="bs-select-5"
                                                    aria-haspopup="listbox" aria-expanded="false" data-id="sale_agent"
                                                    title="Nothing selected">
                                                    <div class="filter-option">
                                                        <div class="filter-option-inner">
                                                            <div class="filter-option-inner-inner">Nothing selected
                                                            </div>
                                                        </div>
                                                    </div><span class="bs-caret"><span class="caret"></span></span>
                                                </button> -->
                                                            <!-- <div class="dropdown-menu open">
                                                    <div class="bs-searchbox"><input type="search" class="form-control"
                                                            autocomplete="off" role="combobox" aria-label="Search"
                                                            aria-controls="bs-select-5" aria-autocomplete="list"></div>
                                                    <div class="inner open" role="listbox" id="bs-select-5"
                                                        tabindex="-1">
                                                        <ul class="dropdown-menu inner " role="presentation"></ul>
                                                    </div>
                                                </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="discount_type" class="control-label">Discount</label>
                                                    <div class="dropdown bootstrap-select bs3" style="width: 100%;">
                                                        <div class="dropdown bootstrap-select bs3" style="width: 100%;">
                                                            <select class="form-control" name="discount"
                                                                class="selectpicker" data-width="100%"
                                                                data-none-selected-text="Nothing selected"
                                                                tabindex="-98">
                                                                <option value="0%" selected="">No discount</option>
                                                                <option value="5%">5%</option>
                                                                <option value="10%">10%</option>
                                                            </select>
                                                            <!-- <button type="button"
                                                        class="btn dropdown-toggle btn-default" data-toggle="dropdown"
                                                        role="combobox" aria-owns="bs-select-6" aria-haspopup="listbox"
                                                        aria-expanded="false" title="No discount">
                                                        <div class="filter-option">
                                                            <div class="filter-option-inner">
                                                                <div class="filter-option-inner-inner">No discount</div>
                                                            </div>
                                                        </div><span class="bs-caret"><span class="caret"></span></span>
                                                    </button> -->
                                                            <!-- <div class="dropdown-menu open"
                                                        style="max-height: 181.875px; overflow: hidden; min-height: 0px;">
                                                        <div class="inner open" role="listbox" id="bs-select-6"
                                                            tabindex="-1" aria-activedescendant="bs-select-6-0"
                                                            style="max-height: 180.875px; overflow-y: auto; min-height: 0px;">
                                                            <ul class="dropdown-menu inner " role="presentation"
                                                                style="margin-top: 0px; margin-bottom: 0px;">
                                                                <li class="selected active"><a role="option"
                                                                        id="bs-select-6-0" tabindex="0" aria-setsize="3"
                                                                        aria-posinset="1" class="active selected"
                                                                        aria-selected="true"><span class="text">No
                                                                            discount</span></a></li>
                                                                <li><a role="option" id="bs-select-6-1" tabindex="0"
                                                                        aria-setsize="3" aria-posinset="2"><span
                                                                            class="text">Before Tax</span></a></li>
                                                                <li><a role="option" id="bs-select-6-2" tabindex="0"
                                                                        aria-setsize="3" aria-posinset="3"><span
                                                                            class="text">After Tax</span></a></li>
                                                            </ul>
                                                        </div>
                                                    </div> -->
                                                            <!-- </div><button type="button" class="btn dropdown-toggle btn-default"
                                                    data-toggle="dropdown" role="combobox" aria-owns="bs-select-6"
                                                    aria-haspopup="listbox" aria-expanded="false" title="No discount">
                                                    <div class="filter-option">
                                                        <div class="filter-option-inner">
                                                            <div class="filter-option-inner-inner">No discount</div>
                                                        </div>
                                                    </div><span class="bs-caret"><span class="caret"></span></span>
                                                </button> -->
                                                            <!-- <div class="dropdown-menu open">
                                                    <div class="inner open" role="listbox" id="bs-select-6"
                                                        tabindex="-1">
                                                        <ul class="dropdown-menu inner " role="presentation"></ul>
                                                    </div>
                                                </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" app-field-wrapper="adminnote"><label for="adminnote"
                                                    class="control-label">Note</label><textarea id="adminnote"
                                                    name="adminnote" class="form-control" rows="4"></textarea></div>
                                        </div>
                                    </div>
                                    <!-- <form method="post" action="/cgi-bin/show_params.cgi">
                                    <input class="form-control" type="button" id="moreFields" value="Add New Quotation"/>
                                    <br>
                                    <input class="form-control" type="button" value="Print" onclick="CopyElem();PrintElem('#container')" />
                                    <span id="writeroot"></span>

                                    <div id="copyoutput" style="display: none;"></div>
                                </form> -->
                                </div>
                                <!-- <form method="POST" action="/users/quotation_attributes"> -->
                                <table id="readroot"
                                    class="table invoice-items-table items table-main-invoice-edit has-calculations no-mtop">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th width="20%" align="left"><i class="fa fa-exclamation-circle"
                                                    aria-hidden="true" data-toggle="tooltip"
                                                    data-title="New lines are not supported for item description. Use the item long description instead."></i>
                                                Item</th>
                                            <th width="10%" align="right" class="qty">Qty</th>
                                            <th width="10%" align="right" class="qty">Unit</th>
                                            <th width="15%" align="right">Rate</th>
                                            <th width="20%" align="right">Tax</th>
                                            <th width="10%" align="right">Amount</th>
                                            <!-- <th align="center"><i class="fa fa-cog"></i></th> -->
                                        </tr>
                                    </thead>
                                    <tbody class="ui-sortable">
                                        <tr class="main">
                                            <td></td>
                                            <td>
                                                <!-- <input type="text" name="item" class="form-control"
                                                        placeholder="item"> -->
                                                <select id="product" class="form-control">
                                                    <% for(var i=0 ; i < product_name.length ; i++){%>
                                                        <option value="<%=product_name[i].product_name%>">
                                                            <%= product_name[i].product_name%>
                                                        </option>
                                                        <%}%>
                                                </select>
                                            </td>
                                            <td>
                                                <div contenteditable="true" id="qty" name="quantity"
                                                    class="form-control"> </div><br>
                                                <!-- <input type="text" placeholder="Unit" data-toggle="tooltip" data-title="e.q kg, lots, packs"
                                            name="unit" class="form-control input-transparent text-right"> -->
                                            </td>
                                            <td>
                                                <div contenteditable="true" id="unit" name="unit" class="form-control">
                                                </div><br>
                                            </td>
                                            <td>
                                                <div contenteditable="true" id="rate" name="rate" class="form-control">
                                                </div><br>
                                            </td>
                                            <td>
                                                <input type="text" name="GST" class="form-control" placeholder="GST">
                                            </td>
                                            <td>
                                                <div onclick="" contenteditable="true" id="amount" name="amount"
                                                    class="form-control">
                                                </div><br>
                                            </td>
                                            <td></td>
                                            <td>
                                                <!-- <form method="post" action="/cgi-bin/show_params.cgi">
                                            <input class="form-control" type="button" id="moreFields"
                                                value="Add" />
                                            <br>
                                            <input class="form-control" type="button" value="Print"
                                                onclick="CopyElem();PrintElem('#container')" />
                                            <span id="writeroot"></span>
        
                                            <div id="copyoutput" style="display: none;"></div>
                                        </form> -->
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                                <!-- </form> -->
                                <div style="padding-bottom: 5px;" class="row">
                                    <span id="writeroot"></span>
                                    <div class="col-md-4">
                                        <input class="form-control" type="button" id="moreFields" value="Add" />
                                    </div>
                                    <br>
                                    <div class="col-md-4">
                                        <input class="form-control" type="submit" value="Print"
                                            onclick="window.print()" />
                                    </div>
                                    <div id="copyoutput" style="display: none;"></div>
                                    <div class="col-md-4">
                                        <button class="form-control" type="submit">Save</button>
                                    </div>
                                </div>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>
        var rate = document.getElementById('rate').val();
        var unit = document.getElementById('unit').val();
        var quantity = document.getElementById('quantity').val();
        var preamount = (rate * unit * quantity)
        console.log('preamount = ' , preamount);
    </script>

    <!-- ----------------------------------------------Selection of product details(unit , rate , qty)--------------------------------------------     -->

    <script>
        var result;
        jQuery('#product').click('change', function () {
            var cat_name = $('#product option:selected').val();
            jQuery.post('http://localhost:3000/users/select_details',
                { product: cat_name },
                function (result, status, jqXHR) {
                    var formoption = "";
                    var formoption2 = "";
                    var formoption3 = "";
                    var preamount = "";
                    for (var i in result.details) {
                        var id = result.details[i].quantity;
                        formoption += result.details[i].quantity;
                        formoption2 += result.details[i].unit;
                        formoption3 += result.details[i].rate;
                        preamount += (formoption * formoption2 * formoption3);
                        console.log('preamount = ', preamount);
                    }
                    $('#qty').empty();
                    $('#qty').append(formoption);
                    $('#unit').empty();
                    $('#unit').append(formoption2);
                    $('#rate').empty();
                    $('#rate').append(formoption3);
                    $('#amount').empty();
                    $('#amount').append(preamount);
                }
            );
        })
    </script>

    <!-- ----------------------------------------------Selection of company-------------------------------------------------------     -->

    <script>
        var result;
        jQuery('#customer').click('change', function () {
            var cat_name = $('#customer option:selected').val();
            console.log('cat_name =', cat_name);
            jQuery.post('http://localhost:3000/users/select_company',
                { name: cat_name },
                function (result, status, jqXHR) {
                    console.log(result.company);
                    var formoption = "";
                    for (var i in result.company) {
                        var id = result.company[i].Company;
                        console.log('address =', result.company[i].Company);
                        formoption += "<option value='" + result.company[i].Company + "'>" + result.company[i].Company + "</option>";
                    }
                    $('#company').empty();
                    $('#company').append(formoption);
                }
            );
        })
    </script>

    <!-- ----------------------------------------------Selection of Ship To address---------------------------------------     -->

    <script>
        var result;
        jQuery('#company').click('change', function () {
            var cat_name = $('#company option:selected').val();
            console.log('cat_name =', cat_name);
            jQuery.post('http://localhost:3000/users/select_saddress',
                { name: cat_name },
                function (result, status, jqXHR) {
                    console.log(result.address);
                    var formoption = "";
                    var formoption2 = "";
                    var formoption3 = "";
                    var formoption4 = "";
                    for (var i in result.address) {
                        var id = result.address[i].Address;
                        console.log('address =', result.address[i].Address);
                        // formoption += "<option value='" + result.address[i].Address + "'>" + result.address[i].Address + "</option>";
                        formoption += result.address[i].Address;
                        formoption2 += result.address[i].City;
                        formoption3 += result.address[i].State;
                        formoption4 += result.address[i].Zip_code;
                    }
                    $('#saddress').empty();
                    $('#saddress').append(formoption);
                    $('#scity').empty();
                    $('#scity').append(formoption2);
                    $('#sstate').empty();
                    $('#sstate').append(formoption3);
                    $('#szip_code').empty();
                    $('#szip_code').append(formoption4);
                }
            );
        })

    </script>

    <!-- ----------------------------------------------Selection of Bill To address---------------------------------------     -->

    <script>
        var result;
        jQuery('#company').click('change', function () {
            var cat_name = $('#company option:selected').val();
            console.log('cat_name =', cat_name);
            jQuery.post('http://localhost:3000/users/select_address',
                { name: cat_name },
                function (result, status, jqXHR) {
                    console.log(result.address);
                    var formoption = "";
                    var formoption2 = "";
                    var formoption3 = "";
                    var formoption4 = "";
                    for (var i in result.address) {
                        var id = result.address[i].Address;
                        console.log('address =', result.address[i].Address);
                        // formoption += "<option value='" + result.address[i].Address + "'>" + result.address[i].Address + "</option>";
                        formoption += result.address[i].Address;
                        formoption2 += result.address[i].City;
                        formoption3 += result.address[i].State;
                        formoption4 += result.address[i].Zip_code;
                    }
                    // $('#address').empty();
                    $('#address').append(formoption);
                    $('#city').empty();
                    $('#city').append(formoption2);
                    $('#state').empty();
                    $('#state').append(formoption3);
                    $('#zip_code').empty();
                    $('#zip_code').append(formoption4);
                }
            );
        })
    </script>

    <!-- ----------------------------------------------Script to replicate the flieds---------------------------------------     -->

    <script>
        var counter = 0;

        jQuery('#moreFields').click('change', function moreFields() {
            counter++;
            var newFields = document.getElementById('readroot').cloneNode(true);
            newFields.id = '';
            newFields.style.display = 'block';
            var newField = newFields.childNodes;
            for (var i = 0; i < newField.length; i++) {
                var theName = newField[i].name
                if (theName)
                    newField[i].name = theName + counter;
            }
            var insertHere = document.getElementById('writeroot');
            insertHere.parentNode.insertBefore(newFields, insertHere);
        })

        // window.onauxclick = moreFields;
    </script>

    <%- include('footer')%>