<%- include('update_header')%>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Customer Inquiry</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Customer Inquiry</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- jquery validation -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Update Customer inquiry <small></small></h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form id="quickForm" action="/users/customer_inquiry_update/<%= customer.customer_id%>"
                                method="POST">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Select Main category</label>
                                        <select name='select_category'  class="form-control">
                                        <% for(var i=0 ; i < customer.length ; i++){%>
                                          <option value="<%=customer[i].customer%>">
                                            <%= customer[i].Name %>
                                          </option> 
                                        <%}%>
                                    </select>
                                    <div class="form-group">
                                        <label>Select Main category</label>
                                        <select name='select_category'  class="form-control">
                                        <% for(var i=0 ; i < customer.length ; i++){%>
                                          <option value="<%=customer[i].customer%>">
                                            <%= customer[i].Name %>
                                          </option> 
                                        <%}%>
                                    </select>
                                    <div class="form-group">
                                        <label>Select Main category</label>
                                        <select name='select_category'  class="form-control">
                                        <% for(var i=0 ; i < customer.length ; i++){%>
                                          <option value="<%=customer[i].customer%>">
                                            <%= customer[i].Name %>
                                          </option> 
                                        <%}%>
                                    </select>
                                    <div class="form-group">
                                        <label>Select Main category</label>
                                        <select name='select_category'  class="form-control">
                                        <% for(var i=0 ; i < customer.length ; i++){%>
                                          <option value="<%=customer[i].customer%>">
                                            <%= customer[i].Name %>
                                          </option> 
                                        <%}%>
                                    </select>
                                    <div class="form-group">
                                        <label>Select Main category</label>
                                        <select name='select_category'  class="form-control">
                                        <% for(var i=0 ; i < customer.length ; i++){%>
                                          <option value="<%=customer[i].customer%>">
                                            <%= customer[i].Name %>
                                          </option> 
                                        <%}%>
                                    </select>
                                    <div class="form-group">
                                        <label>Select Main category</label>
                                        <select name='select_category'  class="form-control">
                                        <% for(var i=0 ; i < customer.length ; i++){%>
                                          <option value="<%=customer[i].customer%>">
                                            <%= customer[i].Name %>
                                          </option> 
                                        <%}%>
                                    </select>
                                    <div class="form-group">
                                        <label>Select Main category</label>
                                        <select name='select_category'  class="form-control">
                                        <% for(var i=0 ; i < customer.length ; i++){%>
                                          <option value="<%=customer[i].customer%>">
                                            <%= customer[i].Name %>
                                          </option> 
                                        <%}%>
                                    </select>
                                    <div class="form-group">
                                        <label>Select Main category</label>
                                        <select name='select_category'  class="form-control">
                                        <% for(var i=0 ; i < customer.length ; i++){%>
                                          <option value="<%=customer[i].customer%>">
                                            <%= customer[i].Name %>
                                          </option> 
                                        <%}%>
                                    </select>
                                    <div class="form-group">
                                        <label>Select Main category</label>
                                        <select name='select_category'  class="form-control">
                                        <% for(var i=0 ; i < customer.length ; i++){%>
                                          <option value="<%=customer[i].customer%>">
                                            <%= customer[i].Name %>
                                          </option> 
                                        <%}%>
                                    </select>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--/.col (left) -->
                    <!-- right column -->
                    <div class="col-md-6">

                    </div>
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <%- include('update_footer')%>